<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <title>受講生情報一覧</title>
</head>
<body>
<h1>受講生情報一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>ふりがな</th>
    <th>ニックネーム</th>
    <th>メールアドレス</th>
    <th>地域</th>
    <th>年齢</th>
    <th>性別</th>
    <th>備考</th>
    <th>コース情報</th>
    <th>キャンセル</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="studentDetail : ${studentList}">
    <td th:text="${studentDetail.student.id}">1</td>
    <td>
      <a href="/students/list" th:href="@{/students/update/{id}(id=${studentDetail.student.id})}" th:text="${studentDetail.student.fullname}" >高橋一三</a>
    </td>
    <td th:text="${studentDetail.student.furigana}">たかはしかずみ</td>
    <td th:text="${studentDetail.student.nickname}">タカ</td>
    <td th:text="${studentDetail.student.email}">takahashi@example.com</td>
    <td th:text="${studentDetail.student.region}">北海道</td>
    <td th:text="${studentDetail.student.age}">98</td>
    <td th:text="${studentDetail.student.gender}">女性</td>
    <td th:text="${studentDetail.student.remark}">特になし</td>
    <td>
      <ul>
        <li th:each="course : ${studentDetail.studentCourseList}"
            th:text="${course.courseName}"></li>
      </ul>
    </td>

    <td>
      <label>
        <input type="checkbox" th:checked="${studentDetail.student.isDeleted}" />
      </label>
    </td>

  </tr>
  </tbody>
</table>
</body>
</html>