<!DOCTYPE html>
<html>
<head>
  <title>受講生情報の更新</title>
</head>
<body>
<h1>受講生情報の更新</h1>
<form th:action="@{/students/update}" th:object="${studentDetail}" method="post">
 　 <!--明示的にidを指定-->
  <input type="hidden" th:field="*{student.id}">
  <div>
    <label for="fullname">名前:</label>
    <!--入力項目-->
    <input type="text" id="fullname" th:field="*{student.fullname}" required />
  </div>
  <div>
    <label for="furigana">ふりがな:</label>
    <input type="text" id="furigana" th:field="*{student.furigana}" required />
  </div>
  <div>
    <label for="nickname">ニックネーム:</label>
    <input type="text" id="nickname" th:field="*{student.nickname}" required />
  </div>
  <div>
    <label for="email">メールアドレス:</label>
    <input type="text" id="email" th:field="*{student.email}" required />
  </div>
  <div>
    <label for="region">地域:</label>
    <input type="text" id="region" th:field="*{student.region}" required />
  </div>
  <div>
    <label for="age">年齢:</label>
    <input type="text" id="age" th:field="*{student.age}" />
  </div>
  <div>
    <label for="gender">性別:</label>
    <input type="text" id="gender" th:field="*{student.gender}" />
  </div>
  <div>
    <label for="remark">備考:</label>
    <input type="text" id="remark" th:field="*{student.remark}" />
  </div>

  <div th:each="course, stat : *{studentCourseList}">
    <!--明示的にidを指定-->
    <input type="hidden"
           th:name="studentCourseList[__${stat.index}__].id"
           th:value="${course.id}" />

    <label for="courseName">受講コース名: </label>
    <input type="text" id="courseName" th:id="studentCourse.__${stat.index}__.courseName"
           th:field="*{studentCourseList[__${stat.index}__].courseName}" />
  </div>
  <div>
    <label for="isDeleted">キャンセル:</label>
    <input type="checkbox" id="isDeleted" th:field="*{student.deleted}" />
  </div>

  <div>
    <button type="submit">更新</button>
  </div>
</form>

</body>
</html>